<div class="tab-pane">
	<table class='table'>
	<thead>
		<th>Логин</th>
		<th>Сделок</th>
		<th>Платформы</th>
		<th>Сообщение</th>
	</thead>
	<tbody>
	{{#if isWaiter}}
		<tr><td colspan=4>Wait....</td></tr>
	{{else}}
		{{#each model as |item|}}
			<tr>
				<td>{{#link-to "index.user.main" item.id}}<img class="userpic" src="{{item.photo}}">{{item.login}}{{/link-to}}</td>
				<td>{{item.deals}}</td>
				<td>{{item.name}}</td>
				<td>{{item.name}}</td>
			</tr>
		{{/each}}
	{{/if}}
	</tbody>
	</table>
</div>
