<header>
<div class="top-menu row">
	<div class="col-md-8">
		<nav class='left-menu'>
			<ul>
				{{#each leftMenu as |menuItem|}}
					<li><a href='#' {{action 'goTo' menuItem.url}}>{{menuItem.title}}</a></li>
				{{/each}}
			</ul>
		</nav>
	</div>
	<div class='col-md-4 pull-right text-right'>
		<nav class='right-menu'>
			<ul class='form-horizontal'>
			    <li class="dropdown staus-bar btn-notifi">
			    	{{#if curUser.id}}
			    		<a class="dropdown-toggle account" data-toggle="dropdown" id='showRightMenu' href="#">
				            <img class='userpic' src="{{curUser.photo_small}}">{{curUser.name}}
				        </a>
				        <div class="dropdown-menu pull-right login-form">
				        	<ul class='user-menu'>
				        		<li><a href="#" {{action 'goToCabinet' curUser.id}}>Личный кабинет</a></li>
				        		<li>Сообщения</li>
				        		<li>Мои игроки</li>
				        		<li class='divider'></li>
				        		<li><a href="#" {{action 'logout'}}>Выход</a></li>
				        	</ul>
				        </div>
			    	{{else}}
				        <a class="dropdown-toggle account" href="#" {{action 'showMenu'}}>
				            Войти в систему
				        </a>
				        <div class="dropdown-menu pull-right login-form" id='rightMenu'>
				            <ul class="nav nav-tabs">
				                <li class="active"><a href="#auth-tab" data-toggle="tab" aria-expanded="true">Авторизация</a></li>
				                <li class=""><a href="#reg-tab" data-toggle="tab" aria-expanded="false">Регистрация</a></li>
				            </ul>
				            <div class="tab-content">
				                <div class="tab-pane active" id="auth-tab">
				                	<form onsubmit="return false;">
				                        <div class="row">
				                            <input class='form-control' name='login' placeholder="Логин">
				                        </div>
				                        <div class="row">
				                            <input type='password' name='password' class='form-control' placeholder="Пароль">
				                        </div>
				                        <div class="row">
				                            <div class='col-md-8'>
				                                <input type='checkbox' id='savePassword'>
				                                <label for='savePassword'>Запомнить</label>
				                            </div>
				                            <div class='col-md-4'>
				                                <button class='btn btn-success' {{action 'auth' 'site'}}>Войти</button>
				                            </div>
				                        </div>
				                    </form>
				                    <div class="row">
				                        <div class='auth-divider'>
				                            <span>
				                                или
				                            </span>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <a href="#" {{action 'auth' 'facebook'}}>Facebook</a>
				                        <a href="#" {{action 'auth' 'vk'}}>VKontakte</a>
				                    </div>
				                </div>
				                <div class="tab-pane" id="reg-tab">
			                        <div class="row">
			                            <input class='form-control' type='text' name='login' placeholder="Логин">
			                        </div>
			                        <div class="row">
			                            <input type='password' class='form-control' name='password' placeholder="Введите пароль">
			                        </div>
			                        <div class="row">
			                            <input type='password' class='form-control' name='repeat_password' placeholder="Повторите пароль">
			                        </div>
			                        <div class="row">
			                            <input class='form-control' type='text' name='email' placeholder="Введите E-mail">
			                        </div>
			                        <div class="row">
			                            <div class='col-md-12'>
			                                <input type='checkbox' id="reciveMessage">
			                                <label for='reciveMessage'>Я хочу получать уведомления</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class='col-md-12'>
			                                <input type='checkbox' id="reciveMessage">
			                                <label for='reciveMessage'>Я соглашаюсь с правилами</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class='col-md-12'>
			                                <input type='checkbox' id="reciveMessage">
			                                <label for='reciveMessage'>Я не робот</label>
			                            </div>
			                        </div>
			                        <div class='col-md-4'>
			                            <button class='btn btn-success' {{action 'auth' 'reg'}}>Зарегистрироваться</button>
			                        </div>
				                </div>
				            </div>
				        </div>
				    {{/if}}
			    </li>
			</ul>
		</nav>
	</div>
</div>
</header>
<section class="home">
		<div class="container">
			<div class="home__info">
				<div class="logo">
					<img alt="" src="img/home-logo.png">
				</div>
				<p class="description">This resource for gamers of FIFA, it isn’t commertial website, all right was protected. <br>
				Thank you that use our website</p>
			</div>
		</div>

		<!-- Search  =============================== -->
		<div class="search">
			<div class="container">
				<form class="search__form clr" action="#">
					<!-- filter  =============================== -->
					<div class="js-filter modal-dropdown">
						<button data-toggle="dropdown" class="btn btn--info dropdown-toggle" aria-expanded="true"><i class="ic ic--filter"></i> фильтры <b class="caret"></b></button>

						<div class="modal-bl dropdown-menu">
							<header class="modal-bl-header">
								<i class="ic ic--filter"></i> фильтры
								<button class="btn btn--close js-modal-bl-hide">&nbsp;</button>
							</header>
							<div class="modal-bl-content">
								<div class="modal-bl-body">
									<div class="col-xs-4">
										<h5 class="title-line"><span>Общие</span></h5>
										<div class="row">
											<div class="col-xs-5">
												<label>Продавец</label>
												<label>Тип карточки</label>
												<label>Рейтинг</label>
												<label>Цена <small>(min)</small></label>
												<label>Цена <small>(max)</small></label>
											</div>
											<div class="col-xs-7">
												<div class="select2-container input-bl" id="s2id_autogen1"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-2">Все</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen2"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-2" id="s2id_autogen2"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen2_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-2">   </ul></div></div><select class="input-bl" tabindex="-1" title="" style="display: none;">
													<option value="Все">Все</option>
													<option value="Все">Все</option>
												</select>
												<div class="select2-container input-bl" id="s2id_autogen3"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-4">TOTY</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen4"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-4" id="s2id_autogen4"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen4_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-4" id="s2id_autogen4_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-4">   </ul></div></div><select class="input-bl" tabindex="-1" title="" style="display: none;">
													<option value="TOTY">TOTY</option>
													<option value="TOTY">TOTY</option>
												</select>
												<div class="fl-grid fl-grid--doubble">
													<input type="text" value="1" class="input-sm input-grid col-5"> 
													<input type="text" value="99" class="input-sm col-5 col-offset-2"> 
												</div>
												
												<div class="fl-grid fl-grid--strech">
													<input type="text" value="0" class="input-sm col-7">
													<div class="select2-container col-5" id="s2id_autogen5"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-6">m</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen6"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-6" id="s2id_autogen6"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen6_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-6" id="s2id_autogen6_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-6">   </ul></div></div><select class="col-5" tabindex="-1" title="" style="display: none;">
														<option value="m">m</option>
														<option value="m">m</option>
													</select>
												</div>	

												<div class="fl-grid fl-grid--strech">
													<input type="text" value="999" class="input-sm col-7">
													<div class="select2-container col-5" id="s2id_autogen7"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-8">m</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen8"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-8" id="s2id_autogen8"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen8_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-8" id="s2id_autogen8_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-8">   </ul></div></div><select class="col-5" tabindex="-1" title="" style="display: none;">
														<option value="m">m</option>
														<option value="m">m</option>
													</select>
												</div>	
											</div>
										</div>
									</div>
									<div class="col-xs-4">
										<h5 class="title-line"><span>Персональные</span></h5>
										<div class="row">
											<div class="col-xs-5">
												<label>Национальность</label>
												<label>Лига</label>
												<label>Клуб</label>
												<label>Позиция</label>
											</div>
											<div class="col-xs-7">
												<div class="select2-container input-bl" id="s2id_autogen9"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-10">Все</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen10"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-10" id="s2id_autogen10"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen10_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-10" id="s2id_autogen10_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-10">   </ul></div></div><select class="input-bl" tabindex="-1" title="" style="display: none;">
													<option value="Все">Все</option>
													<option value="Все">Все</option>
												</select>
												<div class="select2-container input-bl" id="s2id_autogen11"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-12">Все</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen12"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-12" id="s2id_autogen12"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen12_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-12" id="s2id_autogen12_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-12">   </ul></div></div><select class="input-bl" tabindex="-1" title="" style="display: none;">
													<option value="Все">Все</option>
													<option value="Все">Все</option>
												</select>
												<div class="select2-container input-bl" id="s2id_autogen13"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-14">Все</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen14"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-14" id="s2id_autogen14"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen14_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-14" id="s2id_autogen14_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-14">   </ul></div></div><select class="input-bl" tabindex="-1" title="" style="display: none;">
													<option value="Все">Все</option>
													<option value="Все">Все</option>
												</select>
												<div class="select2-container input-bl" id="s2id_autogen15"><a tabindex="-1" class="select2-choice" href="javascript:void(0)">   <span class="select2-chosen" id="select2-chosen-16">Все</span><abbr class="select2-search-choice-close"></abbr>   <span role="presentation" class="select2-arrow"><b role="presentation"></b></span></a><label class="select2-offscreen" for="s2id_autogen16"></label><input type="text" role="button" aria-haspopup="true" class="select2-focusser select2-offscreen" aria-labelledby="select2-chosen-16" id="s2id_autogen16"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label class="select2-offscreen" for="s2id_autogen16_search"></label>       <input type="text" aria-autocomplete="list" aria-expanded="true" role="combobox" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" aria-owns="select2-results-16" id="s2id_autogen16_search" placeholder="">   </div>   <ul role="listbox" class="select2-results" id="select2-results-16">   </ul></div></div><select class="input-bl" tabindex="-1" title="" style="display: none;">
													<option value="Все">Все</option>
													<option value="Все">Все</option>
												</select>
												
											</div>
										</div>
									</div>
									<div class="col-xs-4">
										<h5 class="title-line"><span>Физические</span></h5>

										<div class="row">
											<div class="col-xs-5">
												<label>Скорость</label>
												<label>Удар</label>
												<label>Передача</label>
												<label>Дриблинг</label>
												<label>Защита</label>
											</div>
											<div class="col-xs-7">
												<div class="fl-grid fl-grid--doubble">
													<input type="text" value="1" class="input-sm input-grid col-5"> 
													<input type="text" value="99" class="input-sm col-5 col-offset-2"> 
												</div>
												<div class="fl-grid fl-grid--doubble">
													<input type="text" value="1" class="input-sm input-grid col-5"> 
													<input type="text" value="99" class="input-sm col-5 col-offset-2"> 
												</div>
												<div class="fl-grid fl-grid--doubble">
													<input type="text" value="1" class="input-sm input-grid col-5"> 
													<input type="text" value="99" class="input-sm col-5 col-offset-2"> 
												</div>
												<div class="fl-grid fl-grid--doubble">
													<input type="text" value="1" class="input-sm input-grid col-5"> 
													<input type="text" value="99" class="input-sm col-5 col-offset-2"> 
												</div>
												<div class="fl-grid fl-grid--doubble">
													<input type="text" value="1" class="input-sm input-grid col-5"> 
													<input type="text" value="99" class="input-sm col-5 col-offset-2"> 
												</div>
											</div>
										</div>

									</div>
									
								</div>
								<footer class="modal-bl-footer text-right">
									<button class="btn btn--transp btn--sm" type="reset">Очистить</button>
									<button class="btn btn--warning btn--sm" type="submit">Поиск</button>
								</footer>
							</div>
						</div>
					</div>
					<!-- end filter  -->

					<!-- PC  =============================== -->
					<div class="js-pc dropdown">
						<button data-toggle="dropdown" class="btn dropdown-toggle" aria-expanded="false"><span class="ic-wr"><i class="ic ic--pc"></i></span> <strong>PC</strong> <b class="caret"></b></button>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="ic-wr"><i class="ic ic--ios"></i></span> <strong>IOS</strong></a></li>
							<li><a href="#"><span class="ic-wr"><i class="ic ic--android"></i></span> <strong>Android</strong></a></li>
							<li><a href="#"><span class="ic-wr"><i class="ic ic--plastation"></i></span> <strong>PlayStationи</strong></a></li>
							<li><a href="#"><span class="ic-wr"><i class="ic ic--xbox"></i></span> <strong>Xbox</strong></a></li>
						</ul>
					</div>
					<!-- end PC  -->

					<button class="btn btn--warning btn-search" type="submit">&nbsp;</button>

					<!-- Input search  =============================== -->
					<div class="js-input dropdown">
						<input type="text" data-toggle="dropdown" class="input-bl dropdown-toggle" placeholder="Поиск игроков..." aria-expanded="false">
						<button class="btn--reset" type="reset"></button>
						<ul class="dropdown-menu">
							<li><a href="#"><img class="dp-img" alt="" src="img/player1.png"> Ronaldo <span>(Real Madrid)</span></a></li>
							<li><a href="#"><img class="dp-img" alt="" src="img/player1.png"> Robben <span>(bayern munich)</span></a></li>
							<li><a href="#"><img class="dp-img" alt="" src="img/player1.png"> LEWANDOWSKI <span>(Baern Munich)</span></a></li>
							<li><a href="#"><img class="dp-img" alt="" src="img/player1.png"> Ronaldo <span>(Real Madrid)</span></a></li>
							<li><a href="#"><img class="dp-img" alt="" src="img/player1.png"> Robben <span>(bayern munich)</span></a></li>
							<li><a href="#"><img class="dp-img" alt="" src="img/player1.png"> LEWANDOWSKI <span>(Baern Munich)</span></a></li>
						</ul>
					</div>
					<!-- end Input search  -->

				</form>
			</div>
		</div>
		<!-- end Search  -->
	</section>
<div class="breadcrumbs">
</div>
<div class="container">
	{{outlet}}
</div>