<header>
<div class="top-menu row">
	<div class="col-md-8">
		<nav class='left-menu'>
			<ul>
				{{#each leftMenu as |menuItem|}}
					<li><a href='#' {{action 'goTo' menuItem.url}}>{{menuItem.title}}</a></li>
				{{/each}}
			</ul>
		</nav>
	</div>
	<div class='col-md-4 pull-right text-right'>
		<nav class='right-menu'>
			<ul class='form-horizontal'>
			    <li class="dropdown staus-bar btn-notifi">
			    	{{#if curUser.id}}
			    		<a class="dropdown-toggle account" data-toggle="dropdown" id='showRightMenu' href="#">
				            <img class='userpic' src="{{curUser.photo_small}}">{{curUser.name}}
				        </a>
				        <div class="dropdown-menu pull-right login-form">
				        	<ul class='user-menu'>
				        		<li><a href="#" {{action 'goToCabinet' curUser.id}}>Личный кабинет</a></li>
				        		<li>Сообщения</li>
				        		<li>Мои игроки</li>
				        		<li class='divider'></li>
				        		<li><a href="#" {{action 'logout'}}>Выход</a></li>
				        	</ul>
				        </div>
			    	{{else}}
				        <a class="dropdown-toggle account" href="#" {{action 'showMenu'}}>
				            Войти в систему
				        </a>
				        <div class="dropdown-menu pull-right login-form" id='rightMenu'>
				            <ul class="nav nav-tabs">
				                <li class="active"><a href="#auth-tab" data-toggle="tab" aria-expanded="true">Авторизация</a></li>
				                <li class=""><a href="#reg-tab" data-toggle="tab" aria-expanded="false">Регистрация</a></li>
				            </ul>
				            <div class="tab-content">
				                <div class="tab-pane active" id="auth-tab">
				                	<form onsubmit="return false;">
				                        <div class="row">
				                            <input class='form-control' name='login' placeholder="Логин">
				                        </div>
				                        <div class="row">
				                            <input type='password' name='password' class='form-control' placeholder="Пароль">
				                        </div>
				                        <div class="row">
				                            <div class='col-md-8'>
				                                <input type='checkbox' id='savePassword'>
				                                <label for='savePassword'>Запомнить</label>
				                            </div>
				                            <div class='col-md-4'>
				                                <button class='btn btn-success' {{action 'auth' 'site'}}>Войти</button>
				                            </div>
				                        </div>
				                    </form>
				                    <div class="row">
				                        <div class='auth-divider'>
				                            <span>
				                                или
				                            </span>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <a href="#" {{action 'auth' 'facebook'}}>Facebook</a>
				                        <a href="#" {{action 'auth' 'vk'}}>VKontakte</a>
				                    </div>
				                </div>
				                <div class="tab-pane" id="reg-tab">
			                        <div class="row">
			                            <input class='form-control' type='text' name='login' placeholder="Логин">
			                        </div>
			                        <div class="row">
			                            <input type='password' class='form-control' name='password' placeholder="Введите пароль">
			                        </div>
			                        <div class="row">
			                            <input type='password' class='form-control' name='repeat_password' placeholder="Повторите пароль">
			                        </div>
			                        <div class="row">
			                            <input class='form-control' type='text' name='email' placeholder="Введите E-mail">
			                        </div>
			                        <div class="row">
			                            <div class='col-md-12'>
			                                <input type='checkbox' id="reciveMessage">
			                                <label for='reciveMessage'>Я хочу получать уведомления</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class='col-md-12'>
			                                <input type='checkbox' id="reciveMessage">
			                                <label for='reciveMessage'>Я соглашаюсь с правилами</label>
			                            </div>
			                        </div>
			                        <div class="row">
			                            <div class='col-md-12'>
			                                <input type='checkbox' id="reciveMessage">
			                                <label for='reciveMessage'>Я не робот</label>
			                            </div>
			                        </div>
			                        <div class='col-md-4'>
			                            <button class='btn btn-success' {{action 'auth' 'reg'}}>Зарегистрироваться</button>
			                        </div>
				                </div>
				            </div>
				        </div>
				    {{/if}}
			    </li>
			</ul>
		</nav>
	</div>
</div>
</header>
<div class="breadcrumbs">
</div>
<div class="container">
	{{outlet}}
</div>