<div class='cabinet'>
	<div class='col-md-3'>
		<div class='row'>
			<img class='user-photo' src="{{model.photo}}">
			{{#if curUser.id}}
				<button id='sendMessage' >Написать сообщение</button>
				{{#if model.is_friend}}
					<br>Ваш друг
				{{else}}
					{{#if model.friend_request}}
						<br>Заявка в друзья
					{{else}}
						<button id='addFriend' {{action 'addToFriend'}}>Добавить в друзья</button>
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>
	<div class='col-md-9'>
		<ul class="nav nav-tabs">
	        <li id='main-tab'>{{#link-to "index.user.main" model.id}}Общие{{/link-to}}</li>
	        <li class="" id="dealings-tab">{{#link-to "index.user.friends" model.id}}Сделки{{/link-to}}</li>
	        <li id="players-tab">{{#link-to "index"}}
			Игроки{{/link-to}}</li>
	        <li class="" id="friends-tab">{{#link-to "index.user.friends" model.id}}
			Друзья{{/link-to}}</li>
	        <li id="settings-tab">{{#link-to "index.user.friends" model.id}}Настройки{{/link-to}}</li>
	    </ul>
	    {{outlet}}
		<div class="tab-content">
			<div class="tab-pane">

			</div>
			<div class="tab-pane">

			</div>
			<div class="tab-pane">

			</div>
		</div>
	</div>
</div>
